{% load static %}

<html>
	<head>
		<title>{% block title %}adsame host list{% endblock %}</title>
 		<link href="http://apps.bdimg.com/libs/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
		<!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.css"> -->
		<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/locale/bootstrap-table-zh-CN.min.js"></script>
		<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.js"></script> -->
 		<!-- <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script> -->
 		<!-- <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script> -->
 		<!-- <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script> -->
		<script src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
		<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>
		<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
		<script src="{% static 'bower_components/bootstrap-table/dist/bootstrap-table.js' %}"></script>
		<script src="{% static 'bower_components/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js' %}"></script>
 		<script src="http://apps.bdimg.com/libs/bootstrap/2.3.2/js/bootstrap.min.js"></script>
	
	</head>
</html>
